body {
    font-family: 'Playfair Display', serif;
}



.card-link-text{
    font-weight: 700!important;
}


.contrast-text{
    color: #850100!important;
}


/* Media Queries */
@media screen and (min-width: 993px) {
    nav .brand-logo{
        padding-left: 15px;
    }
}

@media screen and (min-width: 1250px) {
    .card.medium {
        height: 430px
    }
}

@media screen and (min-width: 1095px) and (max-width:1249px) {
    .card.medium {
        height: 415px
    }
}

@media screen and (min-width: 993px) and (max-width:1094px) {
    .card.medium {
        height: 430px
    }
}

@media screen and (min-width: 415px) and (max-width:599px) {
    .card.medium {
        height: 450px
    }
}

@media screen and (min-width: 320px) and (max-width:414px) {
    .card.medium {
        height: 420px
    }
}

@media screen and (max-width:319px) {
    .card.medium {
        height: 385px
    }
}