{% extends  'base.html' %}

{% block title %}
<title>Add a cocktail - The Top Shelf</title>
{% endblock %}

{% block content %}

<h3>Add a Cocktail</h3>

<div class="row">
    <form id="addcocktail" action="{{url_for('insert_cocktail')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">category</i>
                <select id="cocktail_category" name="cocktail_base" class="icons">
                    <option value="" disabled selected>Choose a category</option>
                    {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name.capitalize()}}</option>
                    {% endfor %}

                </select>
                <label>Cocktail Category</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">local_bar</i>

                <input name="cocktail_name" id="cocktail_name" type="text" class="validate cyan-text">
                <label for="cocktail_name">Cocktail Name</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field col s12">
                <div class="btn cyan">
                    <span>File</span>
                    <input name="image" type="file" id="image">
                </div>
                <div class="file-path-wrapper">
                    <input name="image" class="file-path validate" type="text" placeholder="Cocktail Photo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>

                <textarea name="short" id="cocktail_short" class="materialize-textarea" data-length="160"></textarea>
                <label for="cocktail_short">Cocktail Short Description</label>
            </div>
        </div>

        <div class="row">
            <div class="row ingredients">
                <div class="col s12">
                    <h4>Ingredients</h4>
                </div>
                <div id="ingredients-list">
                    <div class="input-field col s6">
                        <input type="text" id="ingredient_name0" name="ingredient_name0" class="materialize-textarea">
                        <label for="ingredient_name0">Ingredient</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="ingredient_amount0" name="ingredient_amount0"
                            class="materialize-textarea">
                        <label for="ingredient_amount0">Amount</label>
                    </div>
                </div>

                <div class="col s12 center-align">
                    <a id="add_ing" class="waves-effect waves-light btn-small cyan"><i
                            class="material-icons left">add</i>Add ingredient</a>
                    <a id="remove_ing" class="waves-effect waves-light btn-small red accent-3" style="display: none"><i
                            class="material-icons left">remove</i>Remove ingredient</a>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="row method">
                <div class="col s12">
                    <h4>Method</h4>
                </div>
                <div id="method-list">
                    <div class="input-field col s12">
                        <input type="text" id="method0" name="method0" class="materialize-textarea validate">
                        <label for="method0">Enter step details</label>
                    </div>
                </div>

                <div class="col s12 center-align">
                    <a id="add_step" class="waves-effect waves-light btn-small cyan"><i
                            class="material-icons left">add</i>Add step</a>
                    <a id="remove_step" class="waves-effect waves-light btn-small red accent-3" style="display: none"><i
                            class="material-icons left">remove</i>Remove step</a>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col s12 right-align">
                <button class="btn waves-effect waves-light cyan" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}