<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- Playfair Font -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block title %}
  {% endblock %}

</head>

<body>
  <!-- Check to see if the user is logged in and show them the appropriate navbar -->
  {% if session['username'] %}
  <nav class="nav-extended">
    <div class="nav-wrapper cyan ">
      <a href="/" class="brand-logo black-text center"><img class="responsive-img" src="/static/img/logo-small.png"
          alt="The Top Shelf Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      <ul class="right hide-on-med-and-down black-text">

        <li><a class="black-text" href="{{url_for('add_cocktail')}}"><i class="material-icons left">note_add</i>Add a
            Cocktail</a></li>
        <li><a class="black-text" href="{{url_for('logout')}}"><i
              class="material-icons left">highlight_off</i>Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav cyan black-text" id="mobile-demo">
    <li class="logo"><a href="/" class="brand-logo black-text"><img class="responsive-img"
          src="/static/img/logo-small.png" alt="The Top Shelf Logo"></a></li>
    <li><a class="black-text" href="{{url_for('add_cocktail')}}"><i class="material-icons left">note_add</i>Add a
        Cocktail</a></li>
    <li>
        <a class="black-text" href="{{url_for('user_drinks', username = user)}}"><i
          class="material-icons">local_bar</i> View your Cocktails</a>
    </li>
    <li><a class="black-text" href="{{url_for('logout')}}"><i class="material-icons left">highlight_off</i>Logout</a>
    </li>
  </ul>

  {% else %}
  <nav class="nav-extended">
    <div class="nav-wrapper cyan ">
      <a href="/" class="brand-logo black-text center"><img class="responsive-img" src="/static/img/logo-small.png"
          alt="The Top Shelf Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      <ul class="right hide-on-med-and-down black-text">

        <li><a class="black-text" href="{{url_for('user')}}"><i class="material-icons left">group</i>Login/Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav cyan black-text" id="mobile-demo">
    <li class="logo"><a href="/" class="brand-logo black-text"><img class="responsive-img"
          src="/static/img/logo-small.png" alt="The Top Shelf Logo"></a></li>
    <li><a class="black-text" href="{{url_for('user')}}"><i class="material-icons left">group</i>Login/Register</a></li>
  </ul>

  {% endif %}

  {% block slider %}
  {% endblock %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Check to see if the user is logged in and show them the appropriate footer -->
  {% if session['username'] %}
  <footer class="page-footer cyan">
    <div class="container">
      <div class="row">

        <div class="col l4 s12">
          <ul>
            <li><a class="black-text" href="{{url_for('categories')}}"><i class="material-icons ing_table">local_bar</i>
                View Cocktails</a></li>
            <li><a class="black-text" href="{{url_for('add_cocktail')}}"><i
                  class="material-icons ing_table">note_add</i> Add a Cocktail</a></li>
            <li><a class="black-text" href="{{url_for('logout')}}"><i class="material-icons ing_table">highlight_off</i>
                Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        © 2019 Copyright The Top Shelf

      </div>
    </div>
  </footer>
  {% else %}
  <footer class="page-footer cyan">
    <div class="container">
      <div class="row">

        <div class="col l4 s12">
          <ul class>
            <li><a class="black-text" href="{{url_for('categories')}}"><i class="material-icons ing_table">local_bar</i>
                View Cocktails</a></li>
            <li><a class="black-text" href="{{url_for('user')}}"><i class="material-icons ing_table">group</i>
                Login/Register</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        © 2019 Copyright The Top Shelf

      </div>
    </div>
  </footer>
  {% endif %}


  <!-- jQuery  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    // Function to allow the Materialize CSS run correctly
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.slider').slider({
        full_width: true,
        height: 400, // default - height : 400
        interval: 4000 // default - interval: 6000
      });
      $('#category-slider').slider({
        full_width: true,
        height: 350, // default - height : 400
        interval: 4000, // default - interval: 6000
        indicators: false
      });

      $('select').formSelect();

      $('textarea#cocktail_short').characterCounter();

      $('.modal').modal();


    });
  </script>
  <!-- Form javascript -->
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>

</html>