{% extends  'base.html' %}
{% block title %}
<title>Cocktail Categories - The Top Shelf</title>
{% endblock %}

{% block content %}
<h1 class="center-align">Categories</h1>
<h4 class="center-align">Select a category below</h4>
<div class="row">
    {% for categories in categories %}
    <div class="col s12 m4">
        <a href="{{url_for('category_name',category_name=categories.category_name)}}" class="black-text  ">
            <div class="card cyan">
                <div class="card-image">
                    <img src="{{categories.category_image}}">
                </div>
                <div class="card-content center-align">
                    <span class="card-title activator black-text center-align ">
                        {{categories.category_name.upper()}}</span>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}