{% extends  'base.html' %}
{% block title %}
<title>{{category.category_name.capitalize()}} Cocktails - The Top Shelf</title>
{% endblock %}
{% block slider %}

<div id="category-slider" class="slider">
    <ul class="slides">
        <li>
            <img src="{{category.category_image}}">

            <div class="caption center-align">
                <h3>{{category.category_name.capitalize()}}</h3>
                <h5 class="light grey-text text-lighten-3">{{category.category_tagline}}</h5>
            </div>
        </li>


    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">

    {% for cocktails in cocktails %}

    {% if cocktails.cocktail_base == category.category_name  %}
    <div class="col s12 m6 l4">
        <a class="" href="{{url_for('cocktail_id_long', category_name= category.category_name, cocktail_name =cocktails.cocktail_name)}}"><div class="card">
            <div class="card-image">
                <img src="{{cocktails.image}}">
                
            </div>
            <div class="card-content">
                <span class="card-title cyan-text text-darken-2 card-link-text">{{cocktails.cocktail_name.title()}}</span>
                <p class="truncate black-text">{{cocktails.short}}</p>
            </div>
            <div class="card-action">
                <span class="cyan-text text-darken-2 card-link-text" >View {{cocktails.cocktail_name}}</span>
            </div>
        </div>
    </a>
    </div>
    {% endif%}

    {% endfor %}
</div>

{% endblock %}