{% extends  'base.html' %}
{% block title %}
<title>The Top Shelf - Cocktail Ideas</title>
{% endblock %}
{% block slider %}
<div class="slider">
    <ul class="slides">
        {% for cocktails in cocktails %}
        {% if loop.index < 8 %}
        {% if loop.index % 2 != 0 %}
        <li>
            <img class="cocktail-img" src="{{cocktails.image}}">
            <!-- random image -->
            <div class="caption right-align hero-text">
                <h3 class="black-text">{{cocktails.cocktail_name.title()}}</h3>
                <p class="black-text short-desc">{{cocktails.short}}</p>
            </div>
        </li>
        {% else %}
        <li>
            <img class="cocktail-img" src="{{cocktails.image}}">
            <!-- random image -->
            <div class="caption left-align hero-text">
                <h3 class="black-text">{{cocktails.cocktail_name.title()}}</h3>
                <p class="black-text short-desc">{{cocktails.short}}</p>
            </div>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}

    </ul>
</div>
{% endblock %}
{% block content %}
<div class="row">
        <div class="col s12">
                <div class="card cyan">
                  <div class="card-content black-text center-align">
                    <span class="card-title">Welcome back {{session['username'].title()}}</span>
                    
                  </div>
                  
                  <div class="card-action center-align">
                        <a class="black-text ing_table" href="{{url_for('add_cocktail')}}"><i class="material-icons">note_add</i> Add a Cocktail</a>
                        <a class="black-text ing_table" href="{{url_for('add_cocktail')}}"><i class="material-icons">local_bar</i> View your Cocktails</a>
                  </div>
                </div>
              </div>

</div>
<div class="row">
    {% for categories in categories %}
    <div class="col s12 m6 l4">
            <a href="{{url_for('category_name',category_name=categories.category_name)}}" class="black-text  ">
                <div class="card cyan">
                    <div class="card-image">
                        <img src="{{categories.category_image}}">
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator black-text center-align ">
                            {{categories.category_name.upper()}}</span>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}