{% extends  'base.html' %}
{% block title %}
<title>The Top Shelf - login</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h4></h4>
        <form method=POST action="{{ url_for('login') }}">
            <div class="row">
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" class="validate" name="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" class="validate" name="password" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn cyan">Login</button>
        </form>
    <div class="col s12">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
        </p>
    </div>
    </div>
</div>
{% endblock %}