{% extends  'base.html' %}
{% block title %}
<title>{{cocktail.cocktail_name.title()}} - The Top Shelf</title>
{% endblock %}

{% block content %}

<div id="category-slider" class="slider">
    <ul class="slides">
        <li>
            <img src="{{cocktail.image}}">

            <!-- <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3">{{cocktail.short}}</h5>
            </div> -->
        </li>


    </ul>
</div>


<div class="row">
    <div class="col s12">
        <h1 class="cyan-text">{{cocktail.cocktail_name.title()}}</h1>
        <p class="flow-text">{{cocktail.short}}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <p class="flow-text cyan-text">Ingredients for {{cocktail.cocktail_name.title()}}</p>

        <ul class="collection">{% for ing in cocktail.ingredients %}
            {% if ing.ing_amount %}
            <li class="collection-item">{{ing.ing_amount}} {{ing.ing_name.title()}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="col s12 m6">
        <p class="flow-text cyan-text">How to make a {{cocktail.cocktail_name.title()}}</p>

        <ul class="collection">{% for step in cocktail.method %}
            {% if step.step_text %}
            <li class="collection-item">{{step.step_text}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}