{% extends  'base.html' %}
{% block title %}
<title>{{cocktail.cocktail_name.title()}} - The Top Shelf</title>
{% endblock %}
{% block slider %}

<div id="category-slider" class="slider">
    <ul class="slides">
        <li>
            <img src="{{cocktail.image}}">

            <!-- <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3">{{cocktail.short}}</h5>
            </div> -->
        </li>


    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h1>{{cocktail.cocktail_name.title()}}</h1>
        <h4>{{cocktail.cocktail_tagline}}</h4>
    </div>
</div>


<div class="row">
    <h4>Ingredients</h4>
    <div class="col s12">
        <div class="card-panel cyan">

            
            <span class="black-text">
                60ml Gin <br>
                200ml Tonic Water <br>
                Mint leafs <br>
                Ice cubes <br>
            </span>
           
        </div>
    </div>
</div>

<div class="row">
    <h4>Method</h4>
</div>

{% endblock %}