{% extends  'base.html' %}
{% block title %}
<title>{{cocktail.cocktail_name.title()}} - The Top Shelf</title>
{% endblock %}

{% block slider %}

<div id="category-slider" class="slider">
    <ul class="slides">
        <li>
            <img src="{{cocktail.image}}">

            <!-- <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3">{{cocktail.short}}</h5>
            </div> -->
        </li>


    </ul>
</div>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h1 class="cyan-text">{{cocktail.cocktail_name.title()}}</h1>
        <p class="flow-text">{{cocktail.short}}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <p class="flow-text cyan-text bold">Ingredients for {{cocktail.cocktail_name.title()}}</p>
        <table class=" highlight">
            {% for ing in cocktail.ingredients %}
            {% if ing.ing_amount %}
            <tr>
                <td class="ing_table"><i class="material-icons cyan-text">
                    keyboard_arrow_right
                    </i><span> {{ing.ing_amount.capitalize()}} {{ing.ing_name.title()}}</span></td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
        
    </div>


    <div class="col s12 m6">
        <p class="flow-text cyan-text bold">How to make a {{cocktail.cocktail_name.title()}}</p>

        <table class=" highlight">
            {% for step in cocktail.method %}
            {% if step.step_text %}
            <tr>
                <!-- <td><span class="step">{{loop.index}}.</span><span class="indent"> {{step.step_text}}</span></td> -->
                <td class="ing_table"><i class="material-icons cyan-text">
                    filter_{{loop.index}}
                    </i><span></td>
                        <td> {{step.step_text}}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

    </div>
    <div class="row">
        <div class="col s12 right-align">
            <h6>{{cocktail.cocktail_name}} was uploaded by {{cocktail.added_by.title()}}</h6>
        </div>
    </div>
</div>


{% endblock %}