{% extends  'base.html' %}
{% block title %}
<title> Cocktails - The Top Shelf</title>
{% endblock %}


{% block content %}


<div class="row">
    <div class="col s12">
        <!-- Shows the user their username -->
        <h2>{{user.title()}}'s Cocktails</h2>
    </div>
    <!-- Loops through all the cockatils in the database -->

    

    {% for cocktails in cocktails %}

        
        <!-- Checks and displays all cockatils that have been added by the logged in user -->
        {% if cocktails.added_by == session['username']  %}

        <div class="col s12 l6">
            <!-- Displays a link to the cocktail -->
            <a class=""
                href="{{url_for('cocktail_id_long', category_name= category.category_name, cocktail_name =cocktails.cocktail_name)}}">
                <div class="card">
                    <!-- Shows the cocktail image -->
                    <div class="card-image">
                        <img src="{{cocktails.image}}">

                    </div>
                    <div class="card-content">
                        <!-- Shows the cockatil name and description -->
                        <span
                            class="card-title cyan-text text-darken-2 card-link-text">{{cocktails.cocktail_name.title()}}</span>
                        <p class="truncate black-text">{{cocktails.short}}</p>
                    </div>
                    <div class="row center-align">
                        <!-- Shows buttons for the user to edit or delete the cockatils that thye have created -->
                        <div class="col s6"><a href="{{url_for('edit_cocktail', cocktail_name = cocktails.cocktail_name)}}"
                                class="card-btn cyan waves-effect waves-light btn"><i class="small material-icons left">edit</i>Edit</a>
                        </div>
                        <div class="col s6">

                                <a class="card-btn red accent-3 waves-effect waves-light btn modal-trigger" href="#deleteModal-{{loop.index}}"><i
                                        class="small material-icons left">remove_circle</i>Delete</a>
                        
                            </div>
                    </div>

                </div>
            </a>
        </div>
        <!-- Modal for delation -->
        <div id="deleteModal-{{loop.index}}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure?</h4>
                    <h6>Deleting {{cocktails.cocktail_name.title()}} is irreversible</h6>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('delete_cocktail', cocktail_name = cocktails.cocktail_name)}}"
                        class="card-btn  red accent-3 waves-effect waves-light btn">Delete {{cocktails.cocktail_name.title()}}</a>
                    <a href="#"
                        class="modal-close card-btn cyan waves-effect waves-light btn">Cancel</a>
                </div>
            </div>
        {% endif %}        
    {% endfor %}


</div>



{% endblock %}